.topBtn {
  position: fixed; 
  opacity: 0; 
  bottom: 50px; 
  right: 50px;
  z-index: -10; 
  width: 6rem; 
  height: 6rem;
  border-radius: 100%;
  border: 0 none;
  background: #FFF;
  color: #BDCFF2;
  border: 2px solid #BDCFF2;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: -0.06em;
  box-shadow: 1px 1px 6px 3px rgba(0,0,0,0.3);
  cursor: pointer;
  transition: opacity 0.3s ease-in;
}

.topBtn.active {
  z-index: 10; 
  opacity: 1; 
}

.topBtn:hover,
.topBtn:focus,
.topBtn:active { 
  outline: 0 none; 
}