li {
  list-style: none;
}

a {
  text-decoration: none;
  color: lightpink;
  font-family: "Black Han Sans";
  font-size: 20px;
}

a.light {
  text-decoration: none;
  color: #BDCFF2;
  font-family: "Black Han Sans";
  font-size: 20px;
}

/* header active 색깔 변경 */
a.active {
  color: #5904DE;
}

a, div.active {
  transition: all 0.5s linear;
}

a, div {
  transition: all 0.5s linear;
}