@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hi+Melody&family=Nanum+Gothic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Stylish&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap");

body {
  /* background-color: black; */
  width: 100vw;
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  background-color: black;
  overflow-x: hidden;
  max-width: 1350px;
}

* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #BDCFF2;
  font-family: "Black Han Sans";
  font-size: 18px;
}

/* userId Password Icon CSS */
.fa-envelope,
.fa-lock {
  margin-right: 24px;
  top: 9px;
  left: 10px;
  position: relative;
  font-size: 24px;
  background-color: #bdcff2;
  color: #ffffff;
  border-radius: 100%;
}

.fa-envelope {
  padding: 10px;
}
.fa-lock {
  padding: 10px 11px;
}

/* header active 색깔 변경 */
.active {
  color: #5904DE;
}
