@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hi+Melody&family=Nanum+Gothic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Stylish&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aboreto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap");

body {
  /* background-color: black; */
  width: 100vw;
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  background-color: black;
}

* {
  font-family: "Noto Sans KR";
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

/* userId Password Icon Css */
.fa-envelope,
.fa-lock,
.fa-calendar-alt,
.fa-user {
  margin-right: 24px;
  top: 9px;
  left: 10px;
  position: relative;
  font-size: 24px;
  background-color: #bdcff2;
  color: #ffffff;
  border-radius: 100%;
}

.fa-calendar-alt,
.fa-user {
  padding: 10px 12px;
}

.fa-envelope {
  padding: 10px;
}
.fa-lock {
  padding: 10px 12px;
}

.fa-arrow-left {
  font-size: 20px;
  color: #ebeaea;
}

@media screen and (max-width: 500px) {
  .fa-envelope,
  .fa-lock,
  .fa-calendar-alt,
  .fa-user {
    font-size: 16px;
    top: 0px;
    left: 5px;
    margin-right: 12px;
  }

  .fa-lock,
  .fa-calendar-alt,
  .fa-user {
    padding: 8px 10px;
  }
  .fa-envelope {
    padding: 8px;
  }
}

a.tapItem {
  color: black !important;
}

#profileImage {
  display: none;
}

#profileImageLabel {
  color: cornflowerblue;
  font-size: 14px;
  cursor: pointer;
}
