@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hi+Melody&family=Nanum+Gothic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Stylish&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap");

body {
  /* background-color: black; */
  width: 100vw;
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  background-color: black;
}

* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: whitesmoke;
  font-family: "Black Han Sans";
  font-size: 18px;
}

/* userId Password Icon Css */
.fa-envelope,
.fa-lock,
.fa-calendar-alt, .fa-user {
  margin-right: 24px;
  top: 9px;
  left: 10px;
  position: relative;
  font-size: 24px;
  background-color: #bdcff2;
  color: #ffffff;
  border-radius: 100%;
}

.fa-calendar-alt, .fa-user{
  padding: 10px 12px;
}

.fa-envelope {
  padding: 10px;
}
.fa-lock {
  padding: 10px 12px;
}

@media screen and (max-width : 500px){
  .fa-envelope,.fa-lock, .fa-calendar-alt, .fa-user{
    font-size: 16px;
    top: 0px;
    left: 5px;
    margin-right: 12px;
  }

  .fa-lock, .fa-calendar-alt, .fa-user{
    padding: 8px 10px;
  }
  .fa-envelope{
    padding: 8px;
  }
}
